@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 100%;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 90%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 70%;
  }
}
